<div class="Modified">
  <p style="color:#000">My Download templates</p>
  <div>
    <span style="font-size: 13px">Last Modified</span>
    <i class="bx bx-table" style="margin-left: 10px"></i>
    <i class="bx bx-list-ul" style="margin-left: 10px"></i>
  </div>
</div>

<div class="layout-container"> 

  <div class="carousel-container">
    <div class="carousel" [style.transform]="getTransform()">
      <div class="card" *ngFor="let card of cards">
        <div class="card-image">
          <img [src]="card.image" alt="" class="imgs">
        </div>
        <p class="description">{{ card.description }}</p>
        <button class="browse-btn">Browse</button>
      </div>  
    </div>

    <div class="dots">
      <span
        *ngFor="let dot of dots; let i = index"
        class="dot"
        [class.active]="currentIndex === i"
        (click)="navigateTo(i)"
      ></span>
    </div>
  </div>
  
  <div class="workspace-overview">
    <div class="workspace-content">
      <div class="workspace-header">
        <h3>Your Free Workspace Overview</h3>
      </div>
      <div class="workspace-details">
        <p class="workdetails_p">Templates: <strong>0/5</strong></p>
        <div class="progress-bar">
          <div class="progress" style="width: 0%"></div>
        </div>
        <p class="workdetails_p">Days: <strong>1/3</strong></p>
        <div class="progress-bar">
          <div class="progress" style="width: 20%"></div>
        </div>
        <p class="info-text">
          You have downloaded 5 templates in 3 days.<br />
          From <strong>30 Oct 2024</strong> to
          <strong>01 Nov 2024 11:59:59</strong>
        </p>
      </div>
    
    </div>
  </div>
</div>

<div class="ask-anything-section">
  <h3 class="ask-anything-title">Ask Anything</h3>
  <div class="ask-anything-container">
    <div class="input-wrapper">
      <input
        type="text"
        placeholder="Type your message"
        class="ask-input"
        id="askInput"
      />
      <button class="ask-submit-btn" onclick="handleAsk()">➔</button>
    </div>
  </div>
  <div class="ask-buttons">
    <button class="ask-button">
      Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy
    </button>
    <button class="ask-button">
      Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy
    </button>
    <button class="ask-button">
      Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy
    </button>
  </div>
</div>
